GOOGLE_GENERATIVE_AI_API_KEY=blablablablabalbalbalalablab

OPENAI_API_KEY=<optional>sk-proj-blablablablabalbalbalalablabblablablablabalbalbalalablabblablablablabalbalbalalablabblablablablabalbalbalalablabblablablablabalbalbalalablabblablablablabalbalbalalablabblablablablabalbalbalalablab 

OPEN_ROUTER_API_KEY=blablablablabalbalbalalablab

MONGO_URI=mongodb_connection_string

